[Desktop Entry]
Encoding=UTF-8
Name=Adventurecoin Core
Comment=Adventurecoin P2P Cryptocurrency
Comment[de]=Verbinde mit dem Adventurecoin peer-to-peer Netzwerk
Comment[fr]=Adventurecoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Adventurecoin, eşten eşe kriptografik sanal para birimi
Exec=advc-qt %u
Terminal=false
Type=Application
Icon=advc128
MimeType=x-scheme-handler/advc;
Categories=Office;Finance;
