[Unit]
Description=Adventurecoin's distributed currency daemon
After=network.target

[Service]
User=advccore
Group=advccore

Type=forking
PIDFile=/var/lib/advcd/advcd.pid
ExecStart=/usr/bin/advcd -daemon -pid=/var/lib/advcd/advcd.pid \
-conf=/etc/advccore/advc.conf -datadir=/var/lib/advcd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
